.container {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px thistle;
  display: block;
  margin: 40px auto;
  max-width: 500px;
  padding: 5px;
}
.city {
  border-bottom: 1px dashed lightslategray;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
}
.date {
  opacity: 0.75;
}
.github {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.github:hover {
  color: rgb(157, 105, 157);
}
.homepage {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.homepage:hover {
  color: rgb(157, 105, 157);
}
.time {
  font-size: 44px;
  font-weight: bold;
}
body {
  background-color: #fff0f5;
  font-family: 'Lato', sans-serif;
}
footer {
  line-height: 1.5;
  text-align: center;
}
h1 {
  font-size: 36px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
h2 {
  font-size: 30px;
  margin: 0px 0px 5px;
}
select {
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  margin: 0px auto;
  padding: 10px;
  width: 80%;
}
